body {
  overflow: hidden;
}

.App {
  text-align: center;
  max-height: 100vh;
}

/* .map-container {
  height: 50vh;
  width: 100%
} */

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

/* h1 {
  height: 5vh;
} */

.App-header {
  display: flex;
  justify-content: center;
  background-color: #222;
  width: 100%;
  z-index: 15;
  height: 9vh;
  /* padding: 5%; */
  color: white;
}

.menu-button {
  position: fixed;
  display: flex;
  align-self: center;
  left: 10px;
  height: 30px;
  width: 30px;
  background: url("../src/pizza.svg");
  background-size: contain;
  border: none;
  outline: none;
  cursor: pointer
}

h1 {
  display: flex;
  align-self: center;
  margin: 0%;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
