body {
  overflow: hidden;
}

.App {
  text-align: center;
  max-height: 100vh;
}

.App-header {
  display: flex;
  justify-content: center;
  background-color: #222;
  width: 100%;
  z-index: 15;
  height: 9vh;
  color: white;
}

#img-container {
  height: 200px;
  overflow: scroll;
}

#imagenes {
  width: 80%;
}

.menu-button {
  position: fixed;
  display: flex;
  align-self: center;
  left: 10px;
  height: 30px;
  width: 30px;
  background: url("../src/pizza.svg");
  background-size: contain;
  border: none;
  outline: none;
  cursor: pointer
}

h1 {
  display: flex;
  align-self: center;
  margin: 0%;
  /* font-size: 1.5em; */
}

.App-intro {
  font-size: large;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

@media (max-width: 750px) {
  h1 {
    font-size: 1.5em
  }
}